__pycache__/
*.py[cod]
*.egg-info/

.venv/
venv/
env/
.DS_Store
Thumbs.db

.env
.env.*
kaggle.json
.kaggle/

data/processed/
data/external/

outputs/
runs/
wandb/
logs/
*.pth
*.onnx
.vscode/
.idea/
*.log
*.tmp